<!DOCTYPE html>
<html lang="en">
<head>   
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">    
</head>
<body ng-app="store" ng-controller="StoreController as store">
        <ul class="list-group">
	        <li class="list-group-item" ng-repeat="product in store.products">
		        <h3>{{product.name}}
                    <em class="pull-right">
                        {{product.price | currency}}
                    </em>
                    <img ng-src="{{product.images[0].full}}"/>
                </h3>
	        </li>
        </ul>
        <!--div ng-repeat="product in store.products">
           <h1> {{product.name}} </h1>
           <h2> ${{product.price}} </h2>
           <p> {{product.description}} </p>
           <button ng-show="!product.canPurchase">Add to Cart</button>
       </div-->


   <!--div ng-hide="store.product.soldOut">
       <h1> {{store.products[0].name}} </h1>
       <h2> ${{store.products[0].price}} </h2>
       <p> {{store.products[0].description}} </p>
       <button ng-show="!store.product[0].canPurchase">Add to Cart</button>
   </div>
   <div ng-hide="store.product.soldOut">
       <h1> {{store.products[1].name}} </h1>
       <h2> ${{store.products[1].price}} </h2>
       <p> {{store.products[1].description}} </p>
       <button ng-show="!store.product[1].canPurchase">Add to Cart</button>
   </div-->
   <!--{{store.product.description}}-->
    <script type="text/javascript" src="js/angular.min.js"></script>    
    <script type="text/javascript" src="js/app.js"></script>
    <p>{{"Hello" + " You"}}</p>
</body>
</html>